{
    "accounts": [
        {
            "key": "0xYOUR",
            "autoBlessing": true,
            "autoRollShop": false,
            "rollPremium": false,
            "autoFeedAxies": false,
            "axies": ["axieIdFeed1","axieIdFeed2"]
        },
        {
            "key": "0xKEYS",
            "autoBlessing": true,
            "autoRollShop": false,
            "rollPremium": false,
            "autoFeedAxies": false,
            "axies": ["axieIdFeed3"]
        }
    ]

}